@use "/src/styles/global.scss" as *;
@use "/src/components/MenuLink/style.scss" as MenuLink;

header {
	padding: 20px $horizontal-padding;
	position: fixed;
	width: 100%;
	z-index: 1;

	.header-menu {
		display: flex;
		justify-content: space-between;
		padding: 8px 60px;
		position: sticky;
		top: 0;
		background-color: $white;
		border-radius: 40px;
		box-shadow: 0 0 4px #5E5E5E;
	}

	.menu-options {
		display: flex;
		align-items: center;
		gap: 26px;

		.menu-globe-icon {
			@include MenuLink.menu-link;

			display: flex;
		}
	}

	ul {
		display: flex;
		gap: 26px;
	}
}
